<div class="container card-list p-2">
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col col-md-7 d-flex align-items-center">
      <img src="<%= objet.Image %>" class="d-block w-100" alt="Image <%= objet.Nom%>">
    </div>
    <div class="col col-md-5 p-3 d-flex align-items-center">
      <h3 class="text-center m-auto"><%= objet.Nom %></h3>
    </div>
  </div>
</div>