<nav class="navbar navbar-principal">
  <div class="container d-flex justify-content-between">
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas"  aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <a class="navbar-brand" href="/">
      <img src="/assets/img/logo_Arcadia.png" class="img-fluid logo" alt="Logo Arcadia Zoo">
    </a>    
    
    <div class="offcanvas offcanvas-start d-flex flex-column " id="offcanvas">
      <div class= "offcanvas-header d-flex justify-content-center">
        <div></div>
        <a href="/">
          <img src="/assets/img/logo_Arcadia.png" class="img-fluid logo" alt="Logo Arcadia Zoo">
        </a>
        <button type="button" class="btn-close btn-close-white position-absolute" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex justify-content-center">
        <ul>
          <% if(isLogged) {%>
          <li>
            <a href="/auth/logout">Desconnexion</a>
          </li>
          <% }else{ %>
            <li>
              <a href="/auth/login">Connexion</a>
            </li>
          <% }%>
          <li>
            <a href="/services">Services</a>
          </li>
          <li>
            <a href="/habitats">Habitats</a>
          </li>          
          <li>
            <a href="/contact">Contact</a>
          </li>  
          
        </ul>
      </div>      
    </div>
  </div>  
</nav>