
/* GENERAL */
:root {
  --green-color: #20554c;
  --dark-blue-color: #0D2C3B;
  --light-blue-color: #3391BE;
  --dark-yellow-color: #FFB400;
  --light-yellow-color: #FAF5E9;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  margin: 0;
}

a{
  list-style: none;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  white-space: nowrap;
}

ul{
  list-style: none;
  padding: 0;
}

.flux{
  color: white;
  padding: 3rem; 
  background-color:rgba(32, 85, 76, 0.9);
}

.col, .row{
  margin: 0;
  padding: 0;
}

/* NAV */
.navbar-principal{
  background-color: var(--dark-blue-color);
  color: white;
}

.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.logo{
  max-height: 40px;
}

#offcanvas{
  width: 100%;
  background-color: var(--dark-blue-color) ;
}

#offcanvas .btn-close{
  right: 1rem;
}

#offcanvas ul li{
  margin: 1rem;
  text-align: center;
}


/* MAIN */
main{ 
  background-color: var(--green-color);
  background-image: url("/assets/img/textura.jpg");
  background-size: 100% auto;
}

.banner{
  color:white;
  background-image: url("/assets/img/banner_index.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60vh;
}

/* MAIN HABITATS*/

.introduction-container{
  color: white;
}


/* MAIN HABITATS*/

.habitats-container-index{
  color: white;
}

.banner-habitats-container-index{
  background-image: url("/assets/img/banner_habitats.jpg");
  background-size: cover;
  height: 50vh;
}

.list-habitats-container-index{
  color: var(--green-color);
}


.card-list{
  background-color: var(--light-yellow-color);
  border-color: var(--green-color);
  border-width: 2rem;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,0.25);
  height: auto;
  width: 100%;
}

.card-list img {  
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

/* MAIN SERVICES*/

.services-container-index{
  background-color: white;
  color: var(--green-color);
}

/* MAIN REVIEWS*/

.reviews-container-index{
  background-color: var(--light-yellow-color);
  color: var(--green-color);
}

.form_review_container-index{
  background-color: var(--dark-yellow-color);
}

.list-reviews-container-index{
  background-color: var(--light-yellow-color);
  color: var(--dark-blue-color);  
}

.scroll-container{
  height: 80vh;
  overflow-y: scroll;
  width: 80%;
}

/* PAGE HABITATS */

.banner-secondary{
  color:white;
  position: relative;
  background-image: url("/assets/img/banner_landscape.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60vh;
  isolation: isolate;
}

.banner-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--dark-blue-color);
  opacity: .7;
}

.banner-title{
  z-index: 1;
}

.list-habitats-container{
  background-color: white;
}

/* PAGE SERVICES */

.list-services-container{
  background-color: white;
  color: var(--green-color);
}

/*CARROUSEL*/

.carousel-inner .carousel-item::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}

.carousel .carousel-item img {  
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height:50vh;
}

/* AUTH */

.login-container{
  height: 100vh;
  overflow-y: hidden;
}


/* PROFIL */

.profil-container{
  color: var(--green-color);
  background-color: white;
}

.profil-container img{
  width: 8rem;
  height: auto;
}

.buttons-gestion-container{
  overflow-x: scroll;
}

.buttons-gestion-container::-webkit-scrollbar {  
  height: 7px;
  width: 25%;
}

.buttons-gestion-container::-webkit-scrollbar-thumb {
  border-radius: 1.5rem;
  background-color: var(--dark-yellow-color);
  background-clip: content-box;
}

/* GESTION - TOP ANIMALS */

.card-top{
  flex-direction: column;
  background-color: transparent;
  border-color: var(--green-color);
  height: auto;
  width: 50%;
}

/* GESTION - TABLE */

.gestion-container{
  background-color: white;
}

.table td{
  min-width: 15rem;
}

/* FOOTER */

footer{
  color: white;
  background-color: var(--dark-blue-color);
}

.bi{
  width: 1.5rem;
  height: 1.5rem;
}

.list-gestion{
  color: var(--dark-blue-color);
}

/* FORMS */

.form-container{
  background-color: white;  
  border-radius: 1rem;
  color: var(--dark-blue-color);
}

.form-container textarea{
  
  border-radius: .75rem;
}

.form-control{
  color: var(--dark-blue-color);
  background-color: var(--light-yellow-color);
  border-bottom-color: rgba(0,0,0,.42);
  box-shadow: none;
  border: none;
  border-radius: .2rem .2rem 0 0;
}

/* BUTTONS */

.btn-arcadia-p{
  width: 100%;
  background-color: var(--dark-yellow-color);
  border-radius: 1rem;
}

.btn-arcadia-s{
  width: 100%;
  background-color: var(--dark-blue-color);
  border-radius: 1rem;
  color: white;
}

.btn-arcadia-gestion{
  min-width: 10rem;
  text-align: center;
  background-color: var(--dark-yellow-color);
  border-radius: 1rem;
}

@media only screen and (min-width: 768px) {

  #offcanvas {
    width: 25%;
  }
  
  .logo{
    max-height: 60px;
  }

  .scroll-container{
    width: 65%;
  }

  .card-list-services img {  
    max-height: 70%;
  }

  .card-list:hover{
    transform: scale(1.05);  
  }
 
  .card-top{
    width: 30%;
  }

  .btn-arcadia-p{
    width: 50%;
  }
  
  .btn-arcadia-p, .btn-arcadia-s{
    width: 50%;
  }

  .banner{
    height: 80vh;
  }
  
  .banner-secondary{
    height: 30vh;
  }
  
  .banner-habitats-container-index{
    height: 40vh;
  }
}

@media only screen and (min-width: 1200px) {
  .flux{
    padding: 8rem 15rem;
  }

  .banner{
    height: 80vh;
  }
   
  .banner-habitats-container-index{
    height: 40vh;
  }

  .btn-arcadia-p, .btn-arcadia-s{
    width: 20%;
  }

  .scroll-container{
    width: 100%;
  }
}