<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div class="d-flex flex-column gap-2 justify-content-end justify-content-md-center login-container flux ">
        <a class="text-center" href="/">
          <img src="/assets/img/logo_Arcadia.png" alt="Logo Arcadia Zoo">
        </a>    
        <div class="container fluid p-4 form-container">
          <form action="/auth/login" method="post">
            <div class="mb-3">
              <h4 class="text-center">Login</h4>
              <p class="text-center">Espace réservé aux employés</p>
            </div>            
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="username" class="form-control">
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Mot de passe</label>
              <input type="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-arcadia-p mt-5">Se connecter</button>
          </form>
        </div>          
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/script.js" crossorigin="anonymous"> </script>
  </body>
</html>