<div class="modal fade" id="reviews-b" tabindex="-1" aria-labelledby="reviews-b" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content form-container">
      <div class="modal-header">
        <h5 class="modal-title">Nouveau opinion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/reviews" class="needs-validation" novalidate onsubmit="handleFormSubmit(event)">
          <div class="form-floating mb-3">            
            <input type="text" name="pseudo" class="form-control" placeholder="Pseudo">
            <label for="Pseudo" class="form-label">Pseudo</label>
          </div>
          <div class="form-floating mb-3">
            <textarea type="text" name="comment" class="form-control" style="height: 100px" placeholder="Commentaire"></textarea>
            <label for="Comment" class="form-label">Comment</label>            
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-arcadia-p mt-5">Envoyer</button>
          </div>    
        </form>
      </div>
    </div>
  </div>
</div>